<footer>
    <div class="bg-gray-600 flex w-full h-20 justify-between shadow-lg">
        <div class="m-4 flex text-white justify-center items-center">
            Web Warriors copyright &copy; 2021 Blog
        </div>
    </div>
</footer>



<script src="js/script.js"></script>
</body>

</html>