<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <header>
        <div class="bg-yellow-400 flex w-full h-24 justify-between shadow-lg">
            <img class="h-6/12 w-6/12 lg:w-auto" src="images/logo.png" alt="">
            <div class="m-4 flex text-white items-center">
                <a class="px-4" href="/">Home</a>
                <a class="px-4 mr-8" href="/create">Create</a>
            </div>
        </div>
    </header>